#baseURL = "https://indieweb.dougbeal.com/"
baseURL = "/"
languageCode = "en-us"
title = "IndieWeb Seattle"
# TIP: don't have theme if using [module]
# theme = [
#       "github.com/dougbeal/hugo-theme-iw2019",
#       "github.com/dougbeal/iw2019-jsonfeed2",
#       "github.com/dougbeal/iw2019-calendar",
#       "github.com/dougbeal/iw2019-events",
#       "github.com/dougbeal/iw2019-podcasts",
#       "github.com/dougbeal/iw2019-location",
#       "github.com/dougbeal/hugo-theme-terminal"
# ]
paginate = 5
copyright = '<span>©2019 Powered by <a href="http://gohugo.io">Hugo</a></span><span>:: <a href="https://github.com/dougbeal/hugo-theme-iw2019">iw2019 Theme</a> by <a href="https://dougbeal.com">Douglas Beal</a>'

[module]
[module.hugoVersion]
min = "0.56.0"
[[module.imports]]
path="github.com/dougbeal/hugo-theme-iw2019"
[[module.imports]]
path="github.com/dougbeal/iw2019-calendar"
[[module.imports]]
path="github.com/dougbeal/iw2019-events"
[[module.imports]]
path="github.com/dougbeal/iw2019-jsonfeed2"
[[module.imports]]
path="github.com/dougbeal/iw2019-location"
[[module.imports]]
path="github.com/dougbeal/iw2019-podcasts"
[[module.imports]]
path="github.com/dougbeal/iw2019-author"
[[module.imports]]
path="github.com/dougbeal/hugo-theme-terminal"
[[module.imports.mounts]]
source="static"
target="static"
[[module.imports.mounts]]
source="layouts"
target="layouts"


[params]

  # dir name of your blog content (default is `content/posts`)
  contentTypeName = "events"
  # ["orange", "blue", "red", "green", "pink"]
  themeColor = "orange"
  # if you set this to 0, only submenu trigger will be visible
  showMenuItems = 4
  # show selector to switch language
  showLanguageSelector = false
  # set theme to full screen width
  fullWidthTheme = false
  # center theme with default width
  centerTheme = false
  # set a custom favicon (default is a `themeColor` square)
  # favicon = "favicon.ico"

[languages]
  [languages.en]
    languageName = "English"
    title = "HWC Seattle"
    subtitle = "A simple, retro theme for Hugo"
    keywords = ""
    copyright = '<span>©2019 Powered by <a href="http://gohugo.io">Hugo</a></span><span> :: <a href="https://github.com/dougbeal/hugo-theme-iw2019">iw2019</a> by <a href="https://dougbeal.com">dougbeal</a>'
    menuMore = "Show more"
    readMore = "Read more"
    readOtherPosts = "Read other posts"

    [languages.en.params.logo]
      logoText = "HWC Seattle"
      logoHomeLink = "/"

    [languages.en.menu]
      [[languages.en.menu.main]]
        identifier = "about"
        name = "About"
        url = "/about"
      [[languages.en.menu.main]]
        identifier = "events"
        name = "Events"
        url = "/event"
      [[languages.en.menu.main]]
        identifier = "locations"
        name = "Locations"
        url = "/location"
      [[languages.en.menu.main]]
        identifier = "authors"
        name = "Authors"
        url = "/author"